.Hero{
    width: 100%;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hero .banner{
    background-color:  #5F6FFF;
    min-width: 350px;
    width: 90%;
    min-height: 70vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 5px;
    border-radius: 12px;
    font-family: "Outfit", sans-serif;
    flex-wrap: wrap;
    gap: 10px;
}
.Hero .banner .text{
    color: #ffffff;
    padding: 10px 0;
    min-width: 350px;
    width: 45%;
    max-width: 600px;
    padding: 10px;
}
.banner .image{
    max-height: 70vh;
    min-height: 350px;
    max-width: 882px;
    min-width: 330px;
    width: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner .image img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    display: block;
}
.banner .text h1{
    font-size: 3.6rem;
    font-weight: 600;
    text-align: left;
    margin: 10px 0;
    width: 100%;
}
.banner .text p{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    margin: 10px 0;
}
.banner button{
    font-family: "Outfit", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 12px 25px;
    border: none;
    outline: none;
    color: #171717;
    border-radius: 47px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0 10px;
    background-color: #ffffff;
    min-width: 20vw;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.banner button:active{
    transform: scale(0.9);
}




@media (max-width:768px){
    .Hero .text h1{
        font-size: 2rem;
    }
}

@media (max-width:1024px){
    .Hero .text{
        width: 100% !important;
    }
    .Hero .image{
        width: 100%;
    }
    .Hero .image img{
        height: auto;
    }
}